<div class="col-md-3">
  <%= render 'users/info', user: @user %>
  <%= render 'users/link_to_edit_user', user: @user%>
  <%= render 'books/new', book: @new_book %>
</div>

<div class="col-md-8 offset-md-1">
  <%= render 'books/list', books: @books %>
</div>
